[submodule "Breast-Cancer-Detection-Decision-Trees-vs.-Neural-Networks"]
	path = Breast-Cancer-Detection-Decision-Trees-vs.-Neural-Networks
	url = https://github.com/harshpatel2312/Breast-Cancer-Detection-Decision-Trees-vs.-Neural-Networks
